@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221, 100%, 3%;
    --foreground: 0, 0%, 100%;
    --primary: 124 57% 75%;
    --primary-foreground: 221 100% 3%;
    
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}